<a href="https://colab.research.google.com/github/ShahzadaFahimJan/AI_and_ML_NAVTCC_spring2025/blob/main/Ai_week2_day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Structured and unstructred data

In [3]:
# Example of structured data (using Pandas)
import pandas as pd

structured_data = pd.DataFrame({
    "ID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [25, 30, 35, 40],
    "Salary": [50000, 60000, 70000, 80000]
})

print("Structured Data:\n", structured_data)

# Example of unstructured data (text data)
unstructured_text = """
Alice is 25 years old and earns $50,000.
Bob is 30 years old and earns $60,000.
Charlie is 35 years old and earns $70,000.
"""
print("\nUnstructured Data:\n", unstructured_text)

Structured Data:
    ID     Name  Age  Salary
0   1    Alice   25   50000
1   2      Bob   30   60000
2   3  Charlie   35   70000
3   4    David   40   80000

Unstructured Data:

Alice is 25 years old and earns $50,000.
Bob is 30 years old and earns $60,000.
Charlie is 35 years old and earns $70,000.

Quantitative Data

In [10]:
import numpy as np

# Continuous Data Example (Height in cm)
heights = np.array([170.5, 165.2, 180.3, 155.8, 172.0])

# Discrete Data Example (Number of students in a class)
students = np.array([25, 30, 28, 32, 27])

print("Mean height:", np.mean(heights))
print("Total students:", np.sum(students))

Mean height: 168.76
Total students: 142

Qualitative Data

In [2]:
import pandas as pd

# Creating a categorical dataset
data = {
    'Color': ['Red', 'Blue', 'Green', 'Red', 'Blue'],
    'Rating': ['Good', 'Excellent', 'Poor', 'Average', 'Good'],
    'Binary': [1, 0, 1, 0, 1]  # Binary (1 = Yes, 0 = No)
}

df = pd.DataFrame(data)
df['Rating'] = pd.Categorical(df['Rating'], categories=['Poor', 'Average', 'Good', 'Excellent'], ordered=True)

print(df)
print("\nOrdinal Encoding for Rating:\n", df['Rating'].cat.codes)

   Color     Rating  Binary
0    Red       Good       1
1   Blue  Excellent       0
2  Green       Poor       1
3    Red    Average       0
4   Blue       Good       1

Ordinal Encoding for Rating:
 0    2
1    3
2    0
3    1
4    2
dtype: int8

Nominal Data

In [4]:
import pandas as pd

# Creating a dataset with nominal data (categories without order)
data_nominal = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Color": ["Red", "Blue", "Green", "Red"],  # Nominal Data (No Order)
    "Gender": ["Female", "Male", "Male", "Male"]
}

df_nominal = pd.DataFrame(data_nominal)
print("Nominal Data:\n", df_nominal)

Nominal Data:
       Name  Color  Gender
0    Alice    Red  Female
1      Bob   Blue    Male
2  Charlie  Green    Male
3    David    Red    Male

Ordinal Data

In [5]:
# Creating an ordered categorical variable (Ordinal Data)
data_ordinal = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Education_Level": ["Bachelor", "Master", "PhD", "High School"]  # Ordered data
}

df_ordinal = pd.DataFrame(data_ordinal)

# Defining order for categorical data
education_order = ["High School", "Bachelor", "Master", "PhD"]
df_ordinal["Education_Level"] = pd.Categorical(df_ordinal["Education_Level"], categories=education_order, ordered=True)

print("\nOrdinal Data:\n", df_ordinal)
print("\nOrdinal Encoding:\n", df_ordinal["Education_Level"].cat.codes)

Ordinal Data:
       Name Education_Level
0    Alice        Bachelor
1      Bob          Master
2  Charlie             PhD
3    David     High School

Ordinal Encoding:
 0    1
1    2
2    3
3    0
dtype: int8

Binary Data

In [6]:
# Binary data (Two categories: 0 or 1, Yes or No)
data_binary = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Has_Driving_License": [1, 0, 1, 1]  # 1 = Yes, 0 = No
}

df_binary = pd.DataFrame(data_binary)
print("\nBinary Data:\n", df_binary)

Binary Data:
       Name  Has_Driving_License
0    Alice                    1
1      Bob                    0
2  Charlie                    1
3    David                    1

Mean

In [7]:
# Sample dataset
data_mean = [10, 20, 30, 40, 50]

# Calculating mean
mean_value = sum(data_mean) / len(data_mean)
print("Mean:", mean_value)

Mean: 30.0

Meadian

In [8]:
import numpy as np

# Odd count dataset
data_median_odd = [5, 10, 15, 20, 25]
median_odd = np.median(data_median_odd)
print("Median (Odd Count):", median_odd)

# Even count dataset
data_median_even = [3, 6, 9, 12, 15, 18]
median_even = np.median(data_median_even)
print("Median (Even Count):", median_even)

Median (Odd Count): 15.0
Median (Even Count): 10.5

Mode

In [9]:
import statistics

# Dataset example
data_mode = [7, 8, 8, 10, 12, 12, 12, 15, 18]

# Using statistics.multimode to capture multiple modes if they exist.
mode_values = statistics.multimode(data_mode)
print("Mode(s):", mode_values)

Mode(s): [12]