<a href="https://colab.research.google.com/github/ShahzadaFahimJan/AI_and_ML_NAVTCC_spring2025/blob/main/ai_week1_day4%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists in Python
List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = ["hello", 3.14, True]

print(fruits)
print(numbers)
print(mixed)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
['hello', 3.14, True]

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])   # Output: apple
print(fruits[-1])  # Output: cherry

apple
cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
fruits[1] = "mango"
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'mango', 'cherry']

In [ ]:
numbers = [3, 1, 4, 2, 5]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

List Comprehension

In [ ]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List Items - Data Types
List items can be of any data type:

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1,list2,list3)

['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3] [True, False, False]

A list can contain different data types:

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Access Items
List items are indexed and you can access them by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change Item Value
To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

Append Items
To add an item to the end of the list, use the append() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Remove Specified Item
The remove() method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

Remove Specified Index
The pop() method removes the specified index.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Task 1:
 Find the Second Largest Number in a List
Write a Python program to find the second largest number in a given list.

In [ ]:
# Given list
numbers = [10, 25, 30, 50, 45, 30, 10]


unique_numbers = sorted(set(numbers), reverse=True)


if len(unique_numbers) > 1:
    second_largest = unique_numbers[1]
    print("Second Largest Number:", second_largest)
else:
    print("No second largest number found.")

Second Largest Number: 45

Tuples in Python
Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.
Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [ ]:
fruits = ("apple", "banana", "cherry")
numbers = (1, 2, 3, 4, 5)

In [ ]:
print(fruits[1])
print(fruits[-1])
print(numbers[-1])

banana
cherry
5

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
fruits[1] = "mango"  # Tuples cannot be changed

Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
thistuple = ("apple",)
print(type(thistuple))


thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Tuple Items - Data Types
Tuple items can be of any data type:

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1,tuple2,tuple3)
tuple4 = ("abc", 34, True, 40, "male")
print(tuple4)

('apple', 'banana', 'cherry') (1, 5, 7, 9, 3) (True, False, False)
('abc', 34, True, 40, 'male')

The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Add Items
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

 Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry",("banana"))
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', ('banana',), 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Join Two Tuples
To join two or more tuples you can use the + operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Task 1:
Create a tuple with at least five different elements (integers, strings, or mixed). Access and print the first and last elements.
Task 2:
Given a tuple (1, 2, 3, 4, 5, 6, 7, 8, 9), extract a slice containing only even numbers.
Task 3:
Concatenate two tuples and repeat the resulting tuple twice.
Task 4:
Write a program to check if an element exists in a given tuple.

In [ ]:
# Creating a tuple
my_tuple = (10, "Python", 3.14, True, "Embedded")

# Accessing elements
first_element = my_tuple[0]
last_element = my_tuple[-1]

print("First element:", first_element)
print("Last element:", last_element)

First element: 10
Last element: Embedded

In [ ]:
# Given tuple
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Extract even numbers using slicing and list comprehension
even_numbers = tuple(num for num in numbers if num % 2 == 0)

print("Even numbers:", even_numbers)

Even numbers: (2, 4, 6, 8)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = ("A", "B", "C")

# Concatenation
concatenated_tuple = tuple1 + tuple2

# Repeating the tuple twice
repeated_tuple = concatenated_tuple * 2

print("Concatenated Tuple:", concatenated_tuple)
print("Repeated Tuple:", repeated_tuple)

Concatenated Tuple: (1, 2, 3, 'A', 'B', 'C')
Repeated Tuple: (1, 2, 3, 'A', 'B', 'C', 1, 2, 3, 'A', 'B', 'C')

In [ ]:
my_tuple = ("apple", "banana", "cherry", "orange")

# Element to check
element = "banana"

# Check existence
if element in my_tuple:
    print(f"{element} is present in the tuple.")
else:
    print(f"{element} is not in the tuple.")

banana is present in the tuple.

 Dictionaries in Python

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
student = {"name": "Alice", "age": 22, "grade": "A"}
student

{'name': 'Alice', 'age': 22, 'grade': 'A'}

In [ ]:
print(student["name"])
print(student.get("age"))

Alice
22

In [ ]:
student["age"] = 23
student["city"] = "New York"

Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
print(len(thisdict))

3

Dictionary Items - Data Types
The values in dictionary items can be of any data type:

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
<class 'dict'>

The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

Get Keys
The keys() method will return a list of all the keys in the dictionary.

In [ ]:
x = thisdict.keys()
print(x)

dict_keys(['name', 'age', 'country'])

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Get Values
The values() method will return a list of all the values in the dictionary.

In [ ]:
x = thisdict.values()
print(x)

dict_values(['John', 36, 'Norway'])

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

Get Items
The items() method will return each item in a dictionary, as tuples in a list.

In [ ]:
x = thisdict.items()
print(x)

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Values
You can change the value of a specific item by referring to its key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Update Dictionary
The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

Removing Items
There are several methods to remove items from a dictionary:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The del keyword removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

Sets in Python
A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
numbers = {1, 2, 3, 4, 5}

In [ ]:
A = {1, 2, 3}
B = {3, 4, 5}

print(A | B)
print(A & B)
print(A - B)

{1, 2, 3, 4, 5}
{3}
{1, 2}

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

True and 1 is considered the same value:

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'cherry', 'apple', 2, True, 'banana'}

False and 0 is considered the same value:

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, 'cherry', 'apple', True, 'banana'}

Get the Length of a Set
To determine how many items a set has, use the len() function.

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - Data Types
Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

In [ ]:
set1 = {"abc", 34, True, 40, "male"}

type()
From Python's perspective, sets are defined as objects with the data type 'set':

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

The set() Constructor
It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

To add one item to a set use the add() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

The clear() method empties the set:

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Union
The union() method returns a new set with all items from both sets.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

You can use the | operator instead of the union() method, and you will get the same result.

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'a', 'John', 'Elena', 'apple', 'b', 'cherry', 'c', 'bananas'}

When using the | operator, separate the sets with more | operators:

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'a', 'John', 'Elena', 'apple', 'b', 'cherry', 'c', 'bananas'}

Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

Task
Write a Python program that takes two sets as input and:

Finds the common elements (intersection).
Finds elements unique to the first set (difference).
Combines both sets without duplicates (union).

Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

You can use the - operator instead of the difference() method, and you will get the same result.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Perform operations
intersection = set1 & set2
difference = set1 - set2
union = set1 | set2

print("Intersection:", intersection)
print("Difference:", difference)
print("Union:", union)

Intersection: {3, 4}
Difference: {1, 2}
Union: {1, 2, 3, 4, 5, 6}

Task
Create a dictionary of student names as keys and their scores as values. Then:

Add a new student to the dictionary.
Update the score of an existing student.
Find the student with the highest score.

In [ ]:
students = {"Alice": 85, "Bob": 78, "Charlie": 92}

# Add a new student
students["David"] = 88

# Update a score
students["Alice"] = 90

# Find student with the highest score
top_student = max(students, key=students.get)

print("Updated Dictionary:", students)
print("Top Student:", top_student, "Score:", students[top_student])

Updated Dictionary: {'Alice': 90, 'Bob': 78, 'Charlie': 92, 'David': 88}
Top Student: Charlie Score: 92

Conditional Execution and Looping in Python  
Conditional Statements in Python
Conditional statements allow the program to make decisions based on conditions.

🔹 if, elif, and else Statements

In [ ]:
age = 20

if age < 18:
    print("You are a minor.")
elif age == 18:
    print("You just became an adult!")
else:
    print("You are an adult.")

You are an adult.

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 20
Positive number

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

If statement, without indentation (will raise an error):

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-15-4276c1871af7>, line 4)

The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Else
The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [2]:
a = 333
b = 333
print("A") if a > b else print("=") if a == b else print("B")

=

And
The and keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

Or
The or keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Not
The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

Nested If
You can have if statements inside if statements, this is called nested if statements.

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

The pass Statement
if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [ ]:
a = 33
b = 200

if b > a:
  pass

break, continue, and pass Statements
🔹 break Statement (Stops the loop completely)

In [ ]:
for i in range(5):
    if i == 3:
        break  # Loop stops when i == 3
    print(i)

0
1
2

In [ ]:
for i in range(5):
    if i == 3:
        continue  # Skips when i == 3
    print(i)

0
1
2
4

In [ ]:
for i in range(5):
    if i == 3:
        pass  # Does nothing
    print(i)

0
1
2
3
4

Nested Conditionals

In [ ]:
num = 10

if num > 0:
    if num % 2 == 0:
        print("Positive even number")
    else:
        print("Positive odd number")

Positive even number

Conditional (Ternary) Expression
 Shorter way to write if-else.

In [ ]:
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)

Adult

Loops in Python
 while Loop (Runs until condition is false)

In [ ]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

enumerate() Function
Used in loops to get both index and value.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

Nested Loops
 A loop inside another loop.

python
Copy
Edit

In [ ]:
for i in range(3):
    for j in range(2):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

List Comprehension
 Shorter way to create lists.

In [3]:
numbers = [x for x in range(10) if x % 2 == 0]
print(numbers)

[0, 2, 4, 6, 8]

Iterators and Iterables
Iterable → Any object that can be looped over (list, tuple, set).
Iterator → An object that produces values one at a time using next().

In [ ]:
my_list = [10, 20, 30]
iterator = iter(my_list)

print(next(iterator))
print(next(iterator))
print(next(iterator))

10
20
30

Tasks: 1
Take a student's marks as input and assign a grade based on this range:
90-100: A  
80-89: B  
70-79: C  
60-69: D  
Below 60: F

Task2: Take a year as input and check if it's a leap year using the rules:
Divisible by 4
Not divisible by 100 unless also divisible by 400

Task3:
Print Numbers 1 to N

Take an integer N from the user and print numbers from 1 to N.

Task 4:
Take a number as input and print its multiplication table up to 10.

Task 5:
Generate a random number and let the user guess it in a loop until they get it right.

Task 6 ⁉Take a number as input and check if it is prime using a while loop.

Task 7 🇰Take a number as input and find the sum of its digits using a while loop.

In [ ]:
# task 1

marks = int(input("Enter student's marks: "))


if 0 <= marks <= 100:
    if 90 <= marks <= 100:
        grade = "A"
    elif 80 <= marks <= 89:
        grade = "B"
    elif 70 <= marks <= 79:
        grade = "C"
    elif 60 <= marks <= 69:
        grade = "D"
    else:
        grade = "F"

    print(f"The student's grade is: {grade}")
else:
    print("Invalid marks! Please enter a value between 0 and 100.")

Enter student's marks: 60
The student's grade is: D

In [ ]:
# task 2

year = int(input("Enter a year: "))


if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2020
2020 is a leap year.

In [ ]:
# task 3

N = int(input("Enter a number: "))


for i in range(1, N + 1):
    print(i)

Enter a number: 3
1
2
3

In [ ]:
# task 4

num = int(input("Enter a number: "))


for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
# task 5
import random


random_number = random.randint(1, 100)


while True:
    guess = int(input("Guess the number (between 1 and 100): "))

    if guess < random_number:
        print("Too low! Try again.")
    elif guess > random_number:
        print("Too high! Try again.")
    else:
        print("Congratulations! You guessed the right number.")
        break

Guess the number (between 1 and 100): 6
Too low! Try again.
Guess the number (between 1 and 100): 5
Too low! Try again.
Guess the number (between 1 and 100): 4
Too low! Try again.
Guess the number (between 1 and 100): 3
Too low! Try again.
Guess the number (between 1 and 100): 2
Too low! Try again.
Guess the number (between 1 and 100): 6
Too low! Try again.
Guess the number (between 1 and 100): 50
Too high! Try again.
Guess the number (between 1 and 100): 40
Too high! Try again.
Guess the number (between 1 and 100): 30
Too low! Try again.
Guess the number (between 1 and 100): 35
Too high! Try again.
Guess the number (between 1 and 100): 34
Too high! Try again.
Guess the number (between 1 and 100): 33
Congratulations! You guessed the right number.

In [ ]:
# task 6

num = int(input("Enter a number: "))


if num < 2:
    print(f"{num} is not a prime number.")
else:
    i = 2
    is_prime = True
    while i * i <= num:
        if num % i == 0:
            is_prime = False
            break
        i += 1

    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

Enter a number: 32
32 is not a prime number.

In [ ]:
# task 7

num = int(input("Enter a number: "))


sum_of_digits = 0
while num > 0:
    sum_of_digits += num % 10
    num //= 10

print(f"Sum of digits: {sum_of_digits}")

Enter a number: 3
Sum of digits: 3