<a href="https://colab.research.google.com/github/ShahzadaFahimJan/AI_and_ML_NAVTCC_spring2025/blob/main/ai_week1_day4%265.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists in Python
List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
numbers = [1, 2, 3, 4, 5]
mixed = ["hello", 3.14, True]

print(fruits)
print(numbers)
print(mixed)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
['hello', 3.14, True]

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])   # Output: apple
print(fruits[-1])  # Output: cherry

apple
cherry

In [60]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "mango"
print(fruits)

['apple', 'mango', 'cherry']

In [61]:
numbers = [3, 1, 4, 2, 5]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

List Comprehension

In [62]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [36]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List Items - Data Types
List items can be of any data type:

In [38]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1,list2,list3)

['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3] [True, False, False]

A list can contain different data types:

In [40]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [41]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [42]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Access Items
List items are indexed and you can access them by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [43]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [44]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [45]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [46]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [47]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Change Item Value
To change the value of a specific item, refer to the index number:

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [49]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [50]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

Append Items
To add an item to the end of the list, use the append() method:

In [51]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [52]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Remove Specified Item
The remove() method removes the specified item.

In [53]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [54]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

Remove Specified Index
The pop() method removes the specified index.

In [55]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [56]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [57]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely

In [58]:
thislist = ["apple", "banana", "cherry"]
del thislist

Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [59]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

Task 1:
 Find the Second Largest Number in a List
Write a Python program to find the second largest number in a given list.

In [64]:
# Given list
numbers = [10, 25, 30, 50, 45, 30, 10]


unique_numbers = sorted(set(numbers), reverse=True)


if len(unique_numbers) > 1:
    second_largest = unique_numbers[1]
    print("Second Largest Number:", second_largest)
else:
    print("No second largest number found.")

Second Largest Number: 45

Tuples in Python
Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.
Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.
Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [3]:
fruits = ("apple", "banana", "cherry")
numbers = (1, 2, 3, 4, 5)

In [6]:
print(fruits[1])
print(fruits[-1])
print(numbers[-1])

banana
cherry
5

Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [7]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [8]:
Sfruits[1] = "mango"  # Tuples cannot be changed

NameError: name 'Sfruits' is not defined

Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [9]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Tuple Items - Data Types
Tuple items can be of any data type:

In [11]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1,tuple2,tuple3)
tuple4 = ("abc", 34, True, 40, "male")
print(tuple4)

('apple', 'banana', 'cherry') (1, 5, 7, 9, 3) (True, False, False)
('abc', 34, True, 40, 'male')

The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [12]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets:

In [13]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [17]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [18]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [19]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [20]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Add Items
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [34]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

 Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [21]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [23]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [24]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [26]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [25]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Join Two Tuples
To join two or more tuples you can use the + operator:

In [28]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [27]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Task 1:
Create a tuple with at least five different elements (integers, strings, or mixed). Access and print the first and last elements.
Task 2:
Given a tuple (1, 2, 3, 4, 5, 6, 7, 8, 9), extract a slice containing only even numbers.
Task 3:
Concatenate two tuples and repeat the resulting tuple twice.
Task 4:
Write a program to check if an element exists in a given tuple.

In [30]:
# Creating a tuple
my_tuple = (10, "Python", 3.14, True, "Embedded")

# Accessing elements
first_element = my_tuple[0]
last_element = my_tuple[-1]

print("First element:", first_element)
print("Last element:", last_element)

First element: 10
Last element: Embedded

In [31]:
# Given tuple
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Extract even numbers using slicing and list comprehension
even_numbers = tuple(num for num in numbers if num % 2 == 0)

print("Even numbers:", even_numbers)

Even numbers: (2, 4, 6, 8)

In [32]:
tuple1 = (1, 2, 3)
tuple2 = ("A", "B", "C")

# Concatenation
concatenated_tuple = tuple1 + tuple2

# Repeating the tuple twice
repeated_tuple = concatenated_tuple * 2

print("Concatenated Tuple:", concatenated_tuple)
print("Repeated Tuple:", repeated_tuple)

Concatenated Tuple: (1, 2, 3, 'A', 'B', 'C')
Repeated Tuple: (1, 2, 3, 'A', 'B', 'C', 1, 2, 3, 'A', 'B', 'C')

In [33]:
my_tuple = ("apple", "banana", "cherry", "orange")

# Element to check
element = "banana"

# Check existence
if element in my_tuple:
    print(f"{element} is present in the tuple.")
else:
    print(f"{element} is not in the tuple.")

banana is present in the tuple.

 Dictionaries in Python

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [66]:
student = {"name": "Alice", "age": 22, "grade": "A"}
student

{'name': 'Alice', 'age': 22, 'grade': 'A'}

In [67]:
print(student["name"])
print(student.get("age"))

Alice
22

In [68]:
student["age"] = 23
student["city"] = "New York"

Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [71]:
print(len(thisdict))

3

Dictionary Items - Data Types
The values in dictionary items can be of any data type:

In [74]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
<class 'dict'>

The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [75]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

Get Keys
The keys() method will return a list of all the keys in the dictionary.

In [76]:
x = thisdict.keys()
print(x)

dict_keys(['name', 'age', 'country'])

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [77]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Get Values
The values() method will return a list of all the values in the dictionary.

In [78]:
x = thisdict.values()
print(x)

dict_values(['John', 36, 'Norway'])

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [79]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

Get Items
The items() method will return each item in a dictionary, as tuples in a list.

In [80]:
x = thisdict.items()
print(x)

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [81]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Values
You can change the value of a specific item by referring to its key name:

In [82]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [84]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Adding Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [85]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Update Dictionary
The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [86]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

Removing Items
There are several methods to remove items from a dictionary:

In [87]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The del keyword removes the item with the specified key name:

In [88]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

Sets in Python
A set is a collection which is unordered, unchangeable*, and unindexed.

In [ ]:
numbers = {1, 2, 3, 4, 5}

In [69]:
A = {1, 2, 3}
B = {3, 4, 5}

print(A | B)
print(A & B)
print(A - B)

{1, 2, 3, 4, 5}
{3}
{1, 2}

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [89]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'banana', 'cherry', 'apple'}

True and 1 is considered the same value:

In [90]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'cherry', 'apple', 2, True, 'banana'}

False and 0 is considered the same value:

In [91]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, 'cherry', 'apple', True, 'banana'}

Get the Length of a Set
To determine how many items a set has, use the len() function.

In [92]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

Set Items - Data Types
Set items can be of any data type:

In [93]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

In [94]:
set1 = {"abc", 34, True, 40, "male"}

type()
From Python's perspective, sets are defined as objects with the data type 'set':

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

The set() Constructor
It is also possible to use the set() constructor to make a set.

In [95]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

In [97]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [96]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

To add one item to a set use the add() method.

In [98]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'apple', 'orange'}

Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [99]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [100]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

Task for set
Write a Python program that takes two sets as input and:

Finds the common elements (intersection).
Finds elements unique to the first set (difference).
Combines both sets without duplicates (union).

In [101]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Perform operations
intersection = set1 & set2
difference = set1 - set2
union = set1 | set2

print("Intersection:", intersection)
print("Difference:", difference)
print("Union:", union)

Intersection: {3, 4}
Difference: {1, 2}
Union: {1, 2, 3, 4, 5, 6}

Task
Create a dictionary of student names as keys and their scores as values. Then:

Add a new student to the dictionary.
Update the score of an existing student.
Find the student with the highest score.

In [102]:
students = {"Alice": 85, "Bob": 78, "Charlie": 92}

# Add a new student
students["David"] = 88

# Update a score
students["Alice"] = 90

# Find student with the highest score
top_student = max(students, key=students.get)

print("Updated Dictionary:", students)
print("Top Student:", top_student, "Score:", students[top_student])

Updated Dictionary: {'Alice': 90, 'Bob': 78, 'Charlie': 92, 'David': 88}
Top Student: Charlie Score: 92

Conditional Execution and Looping in Python  
Conditional Statements in Python
Conditional statements allow the program to make decisions based on conditions.

 if, elif, and else Statements

In [ ]:
age = 20

if age < 18:
    print("You are a minor.")
elif age == 18:
    print("You just became an adult!")
else:
    print("You are an adult.")

You are an adult.

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 20
Positive number

break, continue, and pass Statements
 break Statement (Stops the loop completely)

In [ ]:
for i in range(5):
    if i == 3:
        break  # Loop stops when i == 3
    print(i)

0
1
2

In [ ]:
for i in range(5):
    if i == 3:
        continue  # Skips when i == 3
    print(i)

0
1
2
4

In [ ]:
for i in range(5):
    if i == 3:
        pass  # Does nothing
    print(i)

0
1
2
3
4

Nested Conditionals

In [ ]:
num = 10

if num > 0:
    if num % 2 == 0:
        print("Positive even number")
    else:
        print("Positive odd number")

Positive even number

Conditional (Ternary) Expression
 Shorter way to write if-else.

In [ ]:
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)  # Output: Adult

Adult

Loops in Python
 while Loop (Runs until condition is false)

In [ ]:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

enumerate() Function
Used in loops to get both index and value.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

Nested Loops
 A loop inside another loop.

python
Copy
Edit

In [ ]:
for i in range(3):
    for j in range(2):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1

List Comprehension
 Shorter way to create lists.

In [ ]:
numbers = [x for x in range(10) if x % 2 == 0]
print(numbers)  # Output: [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

Iterators and Iterables
Iterable  Any object that can be looped over (list, tuple, set).
Iterator  An object that produces values one at a time using next().

In [ ]:
my_list = [10, 20, 30]
iterator = iter(my_list)

print(next(iterator))  # Output: 10
print(next(iterator))  # Output: 20
print(next(iterator))  # Output: 30

10
20
30