<a href="https://colab.research.google.com/github/ShahzadaFahimJan/AI_and_ML_NAVTCC_spring2025/blob/main/Week1_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(10) #integar

10

Values

In [ ]:
print("fahim") #string

fahim

In [ ]:
print(True) #boolean

True

In [ ]:
print(False) #bool

False

In [1]:
print(3.14449999) #float

3.14449999

expressions

In [ ]:
x = 10 + 5   # expression: 10 +  5 produces result (15)
y = x * 2
print(y) # Statement (performs an action, no value)

30

Types of Expressions
Arithmetic Expressions (Use mathematical operations)

In [3]:
a = 5 + 3 * 2

print(a)

11

Boolean Expressions (Evaluate to True or False)

In [6]:
is_greater = (10 > 5)

is_greater

True

String Expressions

In [9]:
name = "Hello" + " World"   # + operator concatenate two strings
name

'Hello World'

<b>Statements</b>

Numbers, Booleans, and Strings

In [15]:
a = 10
b = 3.14
c = 2 + 3j
print(type(a), type(b), type(c)) #get the data type of the variable

<class 'int'> <class 'float'> <class 'complex'>

Booleans in Python

In [ ]:
is_python_easy = True
print(is_python_easy)    # Output: True
print(5 > 10)            # Output: False

True
False

Strings in Python
String variables can be declared either by using single or double quotes:

In [17]:
x = "John"
# is the same as
x = 'John'
print(x)

John

In [ ]:
text = "Python is awesome!"
print(text)

Python is awesome!

Operators, Variables, and Keywords

In [ ]:
x = 10
y = 3
print(x + y)    # Addition
print(x // y)   # Floor division
print(x > y)    # Comparison (True or False)

13
3
True

 Variables in Python

In [ ]:
name = "Alice"
age = 25
print(name, age)

Alice 25

In [12]:
x = 5
y = "John"
print(x)
print(y)

5
John

Case-Sensitive
Variable names are case-sensitive.

In [18]:
a = 4
A = "Sally"
#A will not overwrite a
print(a,A)

4 Sally

Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

In [20]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
myvar

'John'

Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

Camel Case
Each word, except the first, starts with a capital letter:

In [21]:
myVariableName = "John"
print(myVariableName)

John

Pascal Case
Each word starts with a capital letter:

In [ ]:
MyVariableName = "John"

Snake Case
Each word is separated by an underscore character:

In [22]:
my_variable_name = "John"

Python Variables - Assign Multiple Values
Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [23]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:

In [43]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Output Variables
The Python print() function is often used to output variables.

In [24]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [25]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [26]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [ ]:
x = 5
y = 10
print(x + y)

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [27]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [28]:
x = 5
y = "John"
print(x, y)

5 John

Casting
If you want to specify the data type of a variable, this can be done with casting.

In [14]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)

3 3 3.0

 Keywords in Python

String Operations

In [ ]:
s1 = "Hello"
s2 = "World"
print(s1 + " " + s2)   # Concatenation
print(s1 * 3)          # Repetition
print(s1[1])           # Indexing (Output: 'e')
print(s1[1:4])         # Slicing (Output: 'ell')

Hello World
HelloHelloHello
e
ell

In [37]:
b = "Hello, World!"
print(b[:5])

Hello

Slice To the End
By leaving out the end index, the range will go to the end:

In [38]:
b = "Hello, World!"
print(b[2:])

llo, World!

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Quotes Inside Quotes
You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [29]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Assign String to a Variable
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Multiline Strings
You can assign a multiline string to a variable by using three quotes:

In [30]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [31]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

The len() function returns the length of a string:

In [32]:
a = "Hello, World!"
print(len(a))

13

Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [33]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [34]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [35]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [36]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Modify Strings

In [39]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [40]:
a = "Hello, World!"
print(a.lower())

hello, world!

The strip() method removes any whitespace from the beginning or the end:

In [41]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [42]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Input and Type Casting

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: 2
Hello, 2!

In [ ]:
age = input("Enter your age: ")  # Input is always a string
age = int(age)  # Convert to integer
print("Next year, you will be", age + 1)
print(type(age))

Enter your age: 20
Next year, you will be 21
<class 'int'>

Comments in Python

In [ ]:
# This is a single-line comment
'''
This is a
multi-line comment
'''
print("Python is fun!")  # Printing a message

Python is fun!

Task 1: Write a Python program to calculate the sum of two numbers entered by the user.

In [10]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum_result = num1 + num2
print("The sum is:", sum_result)

Enter first number: 5
Enter second number: 6
The sum is: 11.0

Task 2: Create a program that checks if a number is even or odd.

In [11]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

Enter a number: 6
6 is even

In [46]:
name = input("enter your name ")
print("your name is ", name)
print(type(name))
name = int(name)
print(type(name))

enter your name 2
your name is  2
<class 'str'>
<class 'int'>